#kelsie{
    text-align: center;
}
.bordered-section{
    border: 2px solid green;
    padding: 10px;
    margin: 5px;
}
.black-div{
    background-color: black;
    color: azure;
    width: 60%;
    height: 60%;
}
